
body {
    background-color:white;
}

header {
    background-image: url(../images/ascreb.png);
    background-size: cover;
    background-position-x:center;
    background-position-y: 10%;
    background-size: cover;
}

.page {
    text-align: right;
    background-color: rgba(128, 128, 128, 0.438);



}

.logo {
    width: 20%;
    height: 20%;
}

h1 {
    /*Typo du titre temporaire. à voir plus tard si je doit la changer*/
    font-family: "Lexend", sans-serif;
}

p {
    font-family: "Encode Sans", sans-serif;
}