.modalEdition {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.534);
  top: 0;
  left: 0;
  inset: 0;
  overflow-y: auto;

  &__info {
    border-bottom: 2px solid black;
    border-right: 2px solid black;
  }
}

.modalEdition__content {
  position: absolute;
  display: flex;
  background-color: burlywood;
  width: 40%;
  height: auto;
  border-radius: 10px;
  flex-direction: column;
  padding: 20px;
  max-height: 60vh;
  overflow-y: auto;

  &--title {
    font-size: 30px;
  }

  &--label {
    font-size: 22px;
  }
  &--posterSection {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    padding: 20px;
  }
  &--poster {
    width: 20%;
    border: 1px solid black;
    margin-top: 10px;
  }

  &--optiontionsvalidate {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    font-size: 23px;
  }
}
.modalEdition__button {
  margin-top: 20px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 2rem;
  margin-top: 1rem;

  &--artist,
  &--guest {
    width: 30%;
    height: auto;
  }

  &--artistcolumn,
  &--guestcolumn {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  &--EditSup {
    display: flex;
    justify-content: space-around;
  }
  &--edit,
  &--sup {
    width: 25%;
    height: auto;
    margin: 10px;
  }

  &--edit {
    background-color: rgb(0, 81, 255);
  }

  &--sup {
    background-color: red;
  }
}

.modalEdition__media {
  &--img {
    width: 50%;
    height: auto;
  }
  &--video {
    width: 60%;
    border: 1px solid black;
  }

  &--logo {
    width: 50%;
    height: auto;
  }
}

.modalEdition__buttonCreate {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  &--create:disabled {
    background-color: grey;
    color: white;
    cursor: not-allowed;
  }
  &--create:not(:disabled) {
    background-color: green;
    width: 15%;
    height: auto;
  }
  &--cancel {
    background-color: red;
    width: 15%;
    height: auto;
  }
}
