@use '../../styles/variables' as *;

.page__title {
  margin: 15px;
}

.photo__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  padding: 60px;
}
.photo {
  margin: 0 10px;
  padding: 0 10px;
  display: block;
  transition: transform 230ms ease-in-out;
  &__img {
    width: 300px;
    height: 450px;
    object-fit: cover;
    border: 2px solid #00000065;
    margin: 0 15px;
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.35);
  }
  &__caption {
    width: 300px;
    height: auto;
    font-size: 15px;
    display: flex;
    position: relative;
    bottom: 15px;
    left: 20px;
    margin: 0;
  }
  &__title {
    text-decoration: none;
    font-size: 24px;
    display: flex;
    position: relative;
    left: 20px;
  }
}

.photo:hover {
  background-color: rgba(0, 0, 0, 0.158);
  //background-color: rgba(0, 0, 0, 0.849);
  //color: white;
  border-radius: 8px;
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 100ms ease-in-out;
}

/* Styles pour le modal */
.modal__photo {
  display: flex; /* Masquer le modal par défaut */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.767);
  overflow: auto; /* Permet le défilement si nécessaire */
  justify-content: center;
  align-items: center;

  &--content {
    position: relative;
    display: inline-block;
  }

  &--img {
    display: block;
    max-width: 90vw;
    max-height: 90vh;
    width: auto;
    height: 90vh;
  }

  &--close {
    position: absolute;
    top: -8px;
    right: 8px;
    cursor: pointer;
    z-index: 1;
    color: grey;
    cursor: pointer;
    font-size: 3rem;
  }
  &--close:hover {
    color: $secondary-color;
  }
}

.no-scroll {
  overflow: hidden;
}
