.youtube-player {
  position: relative;
  display: inline-block;
  cursor: pointer;
  aspect-ratio: 16 / 9;
}

.youtube-player img {
  display: block;
  height: auto;
  object-fit: cover;
}

.youtube-player__play {
  position: absolute;
  pointer-events: none;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 80px;
  height: 56px;

  border: none;
  border-radius: 14px;

  background: rgba(255, 0, 0);

  color: white;
  font-size: 40px;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.25s ease;
}

.youtube-player:hover .youtube-player__play {
  transform: translate(-50%, -50%) scale(1.2);
}
