@use '../../styles/variables' as *;

.error {
  min-height: 80vh;
  background-color: $secondary-color;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  &__container {
    width: 100%;
    height: 50%;
    display: flex;
    position: absolute;
    z-index: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 30%;
  }

  &__title {
    font-size: 17vw;

    text-decoration: none;
    margin: none;
  }

  &__txt {
    font-size: 2vw;
    margin-top: -3%;
  }

  &__link {
    margin-top: 3%;
    font-size: 1.3vw;
    text-decoration: none;
    color: black;
  }

  &__link:hover {
    color: red;
  }

  &__img--center {
    position: absolute;
    top: -8%;
    right: 46%;
    width: 23%;
    height: auto;
  }

  &__img--left {
    width: auto;
    height: 100%;
    position: absolute;
    left: -2%;
    bottom: -4%;
  }
  &__img--right {
    width: auto;
    height: 100%;
    position: absolute;
    right: -1%;
    bottom: -6%;
  }
}
