@use '../../styles/variables' as *;

.error {
  min-height: 125vh;
  background-color: $secondary-color;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__container {
    width: 100%;
    height: 120vh;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &--titleZone {
      position: relative;
      display: inline-flex;
      width: auto;
    }
  }

  &__title {
    width: auto;
    text-decoration: none;
    font-size: clamp(20rem, 24vw, 22rem);
    z-index: 20;
  }

  &__txt {
    margin-top: -3%;
    font-size: clamp(2.5rem, 4vw, 3rem);
    position: relative;
    z-index: 19;
  }

  &__img--center {
    position: relative;
    width: clamp(28rem, 35vw, 30rem);
    height: auto;
    position: absolute;
    right: 15rem;
    top: 5%;
    transform: translateY(-50%);
    z-index: 1;
  }

  &__link {
    margin-top: 3%;
    text-decoration: none;
    color: black;
    font-size: clamp(1.5rem, 2vw, 2rem);
    z-index: 18;
  }

  &__link:hover {
    color: red;
  }

  &__img--left {
    width: 23rem;
    height: auto;
    position: absolute;
    left: -3%;
    bottom: -27rem;
  }
  &__img--right {
    width: 32rem;
    height: auto;
    position: absolute;
    right: 0;
    bottom: -27rem;
  }
}

//tablette

@media (max-width: 1024px) {
  .error {
    &__title {
      font-size: clamp(18rem, 22vw, 20rem);
    }

    &__txt {
      font-size: clamp(2.2rem, 3vw, 2.6rem);
    }

    &__img--center {
      width: clamp(26rem, 28vw, 28rem);
      right: 13rem;
    }

    &__link {
      margin-top: 3%;
      font-size: clamp(1.5rem, 2vw, 2rem);
    }

    &__img--left {
      width: 20rem;

      left: -3%;
      bottom: -27rem;
    }
    &__img--right {
      width: 28rem;
    }
  }
}

//téléphone

@media (max-width: 768px) {
  .error {
    &__title {
      font-size: 15rem;
    }
    &__txt {
      font-size: 2rem;
    }
    &__link {
      font-size: 4rem;
    }

    &__img--center {
      display: none;
    }

    &__img--left {
      display: none;
    }
    &__img--right {
      display: none;
    }
  }
}
