@use '../../styles/variables' as *;

.home {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 40px;

  &__intro {
    margin-left: 20px;
  }

  &__txt {
    margin-bottom: 50px;
  }
}

.slideshow {
  position: relative;
  width: 100vw;
  height: 75rem;
  max-height: 80vh;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  border: 1px solid black;

  &.edit-mode {
    display: none;
  }

  &__img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover; // se comporte comme background-size: cover

    transition:
      background-image 1.5s ease-in-out,
      background-size 1.5s ease-in-out,
      background-position 1.5s ease-in-out;
  }
  &__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.15);
  }

  &__txt,
  p {
    width: 1000px;
    height: auto;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
    color: $secondary-color;
    font-size: 35px;
    font-weight: 400;
    line-height: 1.4;
    background: rgba(0, 0, 0, 0.01);
  }

  &__span {
    display: block;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 10px;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
  }
}

.announcements {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 0 100px;
}

.announcement {
  &::before {
    content: '';
    display: block;
    width: 100%; // longueur du trait (modifiable)
    height: 2px; // épaisseur du trait
    background-color: $main-color; // couleur
    margin: 20px auto; // centre la ligne
    margin-bottom: 50px;
    margin-top: 25px;
  }
  &__logo {
    width: 200px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 25px;
  }
  &__video {
    width: 500px;
    height: 300px;
    border-radius: 20px;
    margin-bottom: 25px;
    transition: transform 100ms ease-in-out;

    &:hover {
      transform: scale(1.05);
      transition: transform 150ms ease-in-out;
    }
  }
  &__photo {
    border-radius: 10px;
    width: 600px;
    height: auto;
    margin-bottom: 25px;
  }
}
