.editions {
  background-image: none;

  &__menu {
    background-image: none;
  }
  &__button {
    background-image: none;
  }
  &__content {
    background-image: none;
  }
}

.edition {
  background-image: none;

  &__title {
    background-image: none;
  }
  &__txt {
    background-image: none;
  }
}
