@use '../../styles/variables' as *;

.editions {
  background-image: none;

  &__menu {
    position: fixed;
    right: 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-image: none;
    background-color: $main-color;
    padding: 10px;
    gap: 5px;
    border-radius: 20px;
    width: 20%;
    height: auto;
    transition: transform 50ms ease-in-out;
  }
  &__button {
    font-size: 22px;
    background-image: none;
    cursor: pointer;
    border-radius: 20px;
    width: 48%;
    height: 35px;
    margin: 2px;
    &:hover {
      transform: scale(1.05);
      transition: transform 100ms ease-in-out;
    }
  }
  &__container {
    background-image: none;
  }
}

.main__editions {
  width: 90%;

  height: auto;
  background-image: none;
  margin: 0 5%;
  display: flex;
  flex-direction: column;

  &--title {
    padding: 1%;
  }

  &--txt {
    padding: 2%;
  }
  &--img {
    position: relative;
    width: 30%;
    height: auto;
    left: 35%;
  }
}
.edition {
  background-image: none;
  &__title {
  }
  &__txt {
  }
  &__content {
    background-image: none;
  }
  &__prog {
    display: flex;
    font-size: 48px;
    font-weight: bold;
    justify-content: center;
  }
}

.edition__artist {
  background-image: none;
  &--media {
    background-image: none;
  }

  &--video {
    width: 600px;
    height: 350px;
    border-radius: 20px;
    margin: 50px;
    margin-top: 0;
    border: 1px solid black;
    box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.5);
  }
}

.edition__guest {
  background-image: none;

  &--media {
    background-image: none;
  }

  &--logo {
    background-image: none;
  }

  &--imag {
    background-image: none;
  }

  &--video {
    width: 600px;
    height: 350px;
    border-radius: 20px;
    margin: 50px;
    margin-top: 0;
    border: 1px solid black;
    box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.5);
  }
}
