.editions {
  background-image: none;

  &__menu {
    background-image: none;
  }
  &__button {
    background-image: none;
    cursor: pointer;
  }
  &__container {
    background-image: none;
  }
}

.edition {
  background-image: none;
  &__title {
    color: red;
  }
  &__txt {
    color: green;
  }
  &__content {
    background-image: none;
  }
}

.edition__artist {
  background-image: none;
  &--media {
    background-image: none;
  }

  &--video {
    width: 150px;
    height: auto;
  }
}
