@use '../../styles/variables' as *;

.Footer {
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-height: 150px;
  background-color: $main-color;
  padding: 10px 0;

  &__txt {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    flex: 1;
  }

  &__copyright {
    color: $secondary-color;
    display: flex;
    justify-content: center;
    align-items: end;
    margin-bottom: 1%;
    width: 100%;
    height: auto;
    font-size: 22px;
    text-decoration: none;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;

    &.edit-mode {
      pointer-events: none; // ❌ clic bloqué
      opacity: 0.5; // visuel désactivé
      cursor: not-allowed;
    }
  }

  &__login,
  &__portfolio,
  &__contact {
    color: $secondary-color;
    margin: 0 12px;
    margin-bottom: 10px;
    text-decoration: none;
  }

  &__login:hover,
  &__portfolio:hover,
  &__contact:hover {
    text-decoration: underline;
  }

  &__logo {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: start;

    &.edit-mode {
      pointer-events: none; // ❌ clic bloqué
      opacity: 0.5; // visuel désactivé
      cursor: not-allowed;
    }
  }
  &__lien--logo {
    width: 60%;
    margin: 15px 0;
    transition: transform 0.3s ease;
  }

  &__lien--logo:hover {
    transform: translateY(-10px);
  }
}
