@use '../../styles/variables' as *;

.Footer {
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  background-color: $main-color;
  padding: 10px 0;

  &__txt {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 150px;
    margin-top: 20px;
    flex: 1;
  }

  &__copyright {
    color: $secondary-color;
    display: flex;
    justify-content: center;
    align-items: end;
    margin-bottom: 1%;
    width: 100%;
    height: auto;
    font-size: clamp(1rem, 2vw, 1.3rem);
    text-decoration: none;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;

    &.edit-mode {
      pointer-events: none; // ❌ clic bloqué
      opacity: 0.5; // visuel désactivé
      cursor: not-allowed;
    }
  }

  &__login,
  &__portfolio,
  &__contact {
    color: $secondary-color;
    margin: 0 12px;
    margin-bottom: 10px;
    text-decoration: none;
  }

  &__login:hover,
  &__portfolio:hover,
  &__contact:hover {
    text-decoration: underline;
  }

  &__logo {
    width: 15rem;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;

    &.edit-mode {
      pointer-events: none; // ❌ clic bloqué
      opacity: 0.5; // visuel désactivé
      cursor: not-allowed;
    }
  }
  &__lien--logo {
    width: 60%;
    margin: 15px;
    transition: transform 0.3s ease;
  }

  &__lien--logo:hover {
    transform: translateY(-10px);
  }
}

/* Tablette */
@media (max-width: 1024px) {
  .Footer {
    width: 99.5%;
    &__txt {
      margin-left: 100px;
    }
    &__copyright {
      font-size: clamp(1rem, 2vw, 1.5rem);
    }
    &__login {
      display: none;
    }

    &__logo {
      width: 12rem;
    }

    &__portfolio,
    &__contact {
      margin: 10px 20px;
    }
  }
}
