@use '../../styles/variables' as *;

.Footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 181px;
  max-height: 5%;
  background-color: $main-color;
  background-image: none;

  &__img {
    width: 230px;
    height: 180px;
    margin-left: 10%;
  }

  &__txt {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    flex: 1;
    background-image: none;
  }

  &__copyright {
    color: $secondary-color;
    display: flex;
    justify-content: center;
    align-items: end;
    margin-bottom: 1%;
    width: 100%;
    height: auto;
    font-size: 22px;
    text-decoration: none;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    background-image: none;
  }
  &__portfolio {
    color: $secondary-color;
  }

  &__login {
    color: $secondary-color;
  }
  &__login,
  &__portfolio {
    margin: 0 12px;
    margin-bottom: 10px;
    text-decoration: none;
  }

  &__login:hover,
  &__portfolio:hover {
    text-decoration: underline;
  }

  &__logo {
    width: 10%;
    height: auto;
    display: flex;
    justify-content: end;
    align-items: start;
    margin-right: 10%;
    margin-bottom: 10%;
  }
  &__lien--logo {
    width: 80%;
    height: auto;
    margin: 30px 0;
    transition: transform 0.3s ease;
  }

  &__lien--logo:hover {
    transform: translateY(-10px);
  }
}
