.container__modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.534);
  top: 0;
  left: 0;
}

.modal {
  position: relative;
  display: flex;
  background-color: burlywood;
  width: 45rem;
  height: auto;
  border-radius: 10px;
  flex-direction: column;
  padding: 20px;

  &__title {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: clamp(2rem, 2vw, 2.3rem);
  }

  &__body {
    font-size: clamp(1rem, 2vw, 1.3rem);

    &--input {
      margin-top: 10px;
    }
  }
  &__button {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 10px;
    &--close {
      background-color: red;

      display: flex;
      position: relative;
      left: 35rem;
      width: 5rem;
      height: auto;
    }
    &--valid {
      display: flex;
      position: relative;
      right: 4rem;
      background-color: green;
      width: 5rem;
      height: auto;
      &:disabled {
        background: #ccc;
        cursor: not-allowed;
        opacity: 0.6;
      }
    }
  }

  &__select--existing {
    margin: 5px 0;
    max-height: 200px;
    overflow-y: auto;
  }
  &__preview {
    margin: 10px;
    max-width: 8rem;
    height: auto;
  }

  &__txt--sup {
    margin-top: 20px;
    font-size: clamp(1rem, 2vw, 1.4rem);
    display: flex;
    justify-content: center;
  }
}

input[type='file'] {
  background: white;
  margin: 5px 0;
}

input[readonly] {
  background-color: burlywood;
  color: #666;
  cursor: default;
}
