.container__modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.534);
  top: 0;
  left: 0;
}

.modal {
  position: absolute;
  display: flex;
  background-color: burlywood;
  width: 35%;
  height: auto;
  border-radius: 10px;
  flex-direction: column;
  padding: 20px;

  &__title {
    display: flex;
    text-align: center;
    justify-content: center;
  }

  &__body {
    font-size: 18px;
  }
  &__button {
    display: flex;
    flex-direction: row;
    margin: 10px;
    &--close {
      background-color: red;
      margin: 0 10px;
      display: flex;
      position: relative;
      left: 58vh;
      width: auto;
      height: auto;
    }
    &--valid {
      display: flex;
      position: relative;
      right: 8vh;
      background-color: green;
      width: auto;
      height: auto;
      &:disabled {
        background: #ccc;
        cursor: not-allowed;
        opacity: 0.6;
      }
    }
  }
  &__select--existing {
    margin: 5px 0;
    max-height: 200px;
    overflow-y: auto;
  }
  &__preview {
    margin: 10px;
    max-width: 200px;
    height: auto;
    max-height: 200px;
  }
}

input[type='file'] {
  background: white;
  margin: 5px 0;
}

input[readonly] {
  background-color: burlywood;
  color: #666;
  cursor: default;
}
