@use './styles/variables' as *;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
.site-background {
  min-height: 100vh;
  background-image: url('https://ik.imagekit.io/tzek55xr2j/festn_breizh/permanents/Affiche-FNB%2024.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.edition__mode {
  background-color: red;
  display: flex;
  width: 100%;
  flex-direction: row;

  &--txt {
    display: flex;
    width: 94%;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }
  &--btn {
    width: 5%;
    margin: 10px;
  }
}
.edit-mode {
  background-color: black;
}

.page__container {
  min-height: 74vh; // prend tout l’écran
  font-size: 80px;
  margin: $side-margin;
  background-color: $secondary-color;

  border-radius: 10px;

  flex: 1;
}

body,
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  background-color: $margin-color;

  //backdrop-filter: blur(5px);
}

h1 {
  font-size: 50px;
  margin-bottom: 10px;
  text-decoration: underline;
}
h2 {
  font-size: 42px;
  margin-bottom: 10px;
  text-decoration: underline;
}

h3 {
  font-size: 32px;
  margin-bottom: 10px;
  text-decoration: underline;
}

p {
  font-size: 18px;
  margin-bottom: 15px;
}

img {
  font-size: 14px;
}
