@use './styles/variables' as *;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// === Reset + base ===
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.page__container {
  min-height: 74vh; // prend tout l’écran
  font-size: 80px;
  margin: $side-margin;
  background-color: $secondary-color;
  border-radius: 10px;
  flex: 1;
}

body,
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  background-color: $margin-color;
}

h1 {
  font-size: 50px;
  margin-bottom: 10px;
  text-decoration: underline;
}
h2 {
  font-size: 42px;
  margin-bottom: 10px;
  text-decoration: underline;
}

p {
  font-size: 24px;
  margin-bottom: 15px;
}

img {
  font-size: 14px;
}
