@use './styles/variables' as *;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// === Reset + base ===
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  background-image: url('https://ik.imagekit.io/tzek55xr2j/festn_breizh/permanents/Affiche-FNB%2024.webp');
  background-size: cover;
  background-position: top;
  //background-repeat: no-repeat;
}

.page__container {
  min-height: 74vh; // prend tout l’écran
  font-size: 80px;
  margin: $side-margin;
  background-color: $secondary-color;
  background-image: none;
  border-radius: 10px;
  flex: 1;
}

body,
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  background-color: $margin-color;
  background-image: none;
  backdrop-filter: blur(5px);
}

h1 {
  font-size: 50px;
  margin-bottom: 10px;
  text-decoration: underline;
  background-image: none;
}
h2 {
  font-size: 42px;
  margin-bottom: 10px;
  text-decoration: underline;
  background-image: none;
}

h3 {
  font-size: 32px;
  margin-bottom: 10px;
  text-decoration: underline;
  background-image: none;
}

p {
  font-size: 24px;
  margin-bottom: 15px;
  background-image: none;
}

img {
  font-size: 14px;
  background-image: none;
}

a {
  background-image: none;
}

span {
  background-image: none;
}
