@use '../../styles/variables' as *;

header {
  position: sticky;
  top: 0;
  z-index: 100;
}
.Header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  background-color: $main-color;
  padding-bottom: 15px;

  &__img {
    width: 10rem;
    height: auto;
    max-height: 200px;
    margin-left: 10%;
    z-index: 11;
  }

  &__burger {
    display: none;
  }

  &__nav {
    width: 70%;
    height: auto;
    display: flex;
    text-align: center;
    align-items: flex-start;
    justify-content: end;
    font-weight: bold;
    margin-top: 10px;
    padding: 10px;
    margin-right: 5%;
  }

  &__link {
    color: $secondary-color;
    text-decoration: none;
    font-size: clamp(0.8rem, 1.2vw, 1rem);
    margin: 10px;
    padding: 5px;

    background-color: $main-color;
    overflow: visible;
    transition:
      color 0.2s ease,
      background-color 0.2s ease,
      transform 0.2s ease;
    &:hover {
      color: $main-color;
      background-color: $secondary-color;
      border-radius: 3px;
      transform: scale(1.05);
    }
    &.edit-mode:hover {
      background-color: red;
    }
  }

  .Header__link.about.edit-mode {
    display: none;
  }

  &__span {
    color: $secondary-color;
    background-color: $main-color;
    font-size: clamp(0.8rem, 1.2vw, 1rem);
    margin-top: 7px;
    overflow: visible;
    padding: 5px;
    cursor: pointer;
    transition:
      color 0.2s ease,
      background-color 0.2s ease,
      transform 0.2s ease;
    &:hover {
      color: $main-color;
      background-color: $secondary-color;
      border-radius: 3px;
      transform: scale(1.05);
    }
    &.edit-mode:hover {
      background-color: red;
    }
  }

  &__dropdown {
    display: flex;
    align-items: center; // Aligne Photos et Affiches parfaitement sous Galerie
    position: relative;
    line-height: 1;
    height: auto;
    overflow: visible; // Évite le scroll interne
    padding: 5px;
  }

  &__dropdown--content {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    flex-direction: column;
    align-items: center; // centre le texte
    width: max-content; // le dropdown prend la largeur du plus long mot
    white-space: nowrap; // évite tout retour à la ligne
  }

  &__dropdown--content .Header__link {
    padding: 5px;
    margin: 5px;
  }

  .Header__dropdown--content.show {
    display: flex;
  }
}

/* Tablette */
@media (max-width: 1024px) {
  .Header {
    width: 99.99%;
    height: 120px;
    &__img {
      width: 8rem;
      height: auto;
      max-height: 150px;
      margin-left: 3%;
    }
    &__nav {
      width: 100%;
      margin-right: 2%;
    }

    &__link {
      font-size: clamp(0.7rem, 1.5vw, 1.1rem);

      padding: 5px 0;
    }
    &__span {
      font-size: clamp(0.7rem, 1.5vw, 1.1rem);

      margin-top: 6px;
      padding: 5px 0;
    }
  }
}

//Téléphone

@media (max-width: 768px) {
  .Header {
    width: 100%;
    position: relative;
    &__burger {
      display: flex;
      width: 60px;
      height: 60px;
      font-size: 40px;
      border: 1px solid black;
      position: relative;
      z-index: 11;
      margin: 5px;
      position: absolute;
      top: 0;
      right: 0px;
    }
    &__link {
      font-size: 1.4rem;
      width: 99%;
      margin: 0;
      padding: 20px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__nav {
      z-index: 10;
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      position: absolute;
      top: 50px;
      right: -15px;

      width: 80%;
      gap: 10px;
      padding: 10px;

      background-color: black;

      border-radius: 5px;

      transform: scaleY(0);
      transform-origin: top;
      opacity: 0;
      pointer-events: none;

      &--open {
        transform: scaleY(1);
        opacity: 1;
        pointer-events: auto;
        transition:
          transform 0.2s ease,
          opacity 0.2s ease;
      }
    }
    &__dropdown {
      display: none;
    }
  }
}
