.about {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  &__title {
    margin: 30px 50px;
    font-size: clamp(2rem, 4vw, 2.4rem);
    margin-top: 40px;
  }
  &__txt {
    margin: 50px 100px;
    font-size: clamp(1rem, 1.2vw, 1.1rem);
  }
  &__img {
    width: 40rem;
    height: auto;
    display: block;
    margin: 30px auto;
  }
}

//tablette

@media (max-width: 1024px) {
  .about {
    &__title {
      font-size: clamp(1.8rem, 3vw, 2.2rem);
    }

    &__txt {
      font-size: clamp(0.9rem, 1.2vw, 1rem);
    }

    &__img {
      width: 30rem;
    }
  }
}

//téléphone

@media (max-width: 768px) {
  .about {
    &__title {
      font-size: 1.8rem;
    }
    &__txt {
      font-size: 1.3rem;
      margin: 10%;
    }
    &__img {
      width: 100%;
    }
  }
}
