.about {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  &__title {
    margin: 30px 50px;
    font-size: clamp(2rem, 4vw, 2.4rem);
    margin-top: 40px;
  }
  &__text {
    margin: 50px 100px;
    font-size: clamp(1rem, 1.2vw, 1.1rem);
  }
  &__img {
    width: 40rem;
    height: auto;
    display: block;
    margin: 30px auto;
  }
}
