@use '../../styles/variables' as *;

.partner__intro {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 0 50px;
  &--title {
    margin: 25px 0px;
  }

  &--txt {
    margin: 25px;
    padding: 25px;
  }
}

.partners {
  margin: 50px;
  &__content:before {
    content: '';
    display: block;
    width: 100%; // longueur du trait (modifiable)
    height: 2px; // épaisseur du trait
    background-color: $main-color; // couleur
    margin: 20px auto; // centre la ligne
    margin-bottom: 50px;
    margin-top: 25px;
  }

  &__title {
    margin: 25px;
  }

  &__txt {
    margin: 25px;
    padding: 25px;
  }

  &__logo {
    max-height: 250px;
    width: 250px;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    margin-left: 45px;
  }
}
