@use '../../styles/variables' as *;

.partner__intro {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 0 50px;

  &--title {
    margin: 25px 0px;
  }

  &--txt {
    margin: 25px;
    padding: 25px;
  }
}

.partners {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  gap: 1px;

  &__content {
    display: flex;
    flex-direction: column;
    width: 49%;
    border: 1px solid black;
    border-radius: 5px;
  }

  &__title {
    margin: 25px;
    font-size: 1.1vw;
  }

  &__txt {
    margin: 25px;
    padding: 0 25px;
    font-size: 0.7vw;
  }

  &__logo {
    max-height: 200px;
    width: 200px;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    margin-left: 45px;
    border: 1px solid black;
  }
}
